In [2]:
import pandas as pd

In [33]:
df = pd.read_csv(r"C:\Users\capor\Downloads\dataset(in).csv")

In [4]:
df

,Unnamed: 0,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,318,34,Private,209297,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,2001,40,United-States,<=50K
1,11608,32,Private,107417,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,37,United-States,<=50K
2,2362,59,Local-gov,296253,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,8614,0,60,United-States,>50K
3,17387,44,Federal-gov,102238,HS-grad,9,Divorced,Craft-repair,Unmarried,White,Male,0,0,40,United-States,<=50K
4,22358,27,?,190650,Bachelors,13,Never-married,?,Unmarried,Asian-Pac-Islander,Male,0,0,25,Philippines,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,17852,21,Private,306114,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
29301,20240,40,?,224361,9th,5,Divorced,?,Unmarried,White,Female,0,0,5,Cuba,<=50K
29302,1433,31,Private,251659,Some-college,10,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,1485,55,?,>50K
29303,25247,41,Private,39581,Some-college,10,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,24,El-Salvador,<=50K
29304,367,55,Private,153484,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,50,United-States,>50K

In [34]:
df.drop(['Unnamed: 0','education'], axis=1, inplace=True)
import numpy as np

df.replace("?", np.nan, inplace=True)

In [36]:
df = df.dropna()

In [38]:
df

,age,workclass,fnlwgt,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,34,Private,209297,9,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,2001,40,United-States,<=50K
1,32,Private,107417,9,Never-married,Other-service,Not-in-family,White,Male,0,0,37,United-States,<=50K
2,59,Local-gov,296253,14,Divorced,Prof-specialty,Unmarried,White,Female,8614,0,60,United-States,>50K
3,44,Federal-gov,102238,9,Divorced,Craft-repair,Unmarried,White,Male,0,0,40,United-States,<=50K
5,43,Local-gov,163434,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29298,63,Private,294009,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K
29299,28,Private,319768,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,France,>50K
29300,21,Private,306114,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
29303,41,Private,39581,10,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,24,El-Salvador,<=50K
29304,55,Private,153484,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,50,United-States,>50K

In [41]:
df["race"].value_counts()

White                 23370
Black                  2519
Asian-Pac-Islander      802
Amer-Indian-Eskimo      254
Other                   215
Name: race, dtype: int64

In [31]:
df["education.num"].value_counts()

9     9430
10    6583
13    4834
14    1549
11    1248
7     1060
12     963
6      821
4      570
15     518
5      463
8      388
16     374
3      307
2      153
1       44
Name: education.num, dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      29305 non-null  int64
 1   age             29305 non-null  int64
 2   workclass       29305 non-null  object
 3   fnlwgt          29305 non-null  int64
 4   education       29305 non-null  object
 5   education.num   29305 non-null  int64
 6   marital.status  29305 non-null  object
 7   occupation      29305 non-null  object
 8   relationship    29305 non-null  object
 9   race            29305 non-null  object
 10  sex             29305 non-null  object
 11  capital.gain    29305 non-null  int64
 12  capital.loss    29305 non-null  int64
 13  hours.per.week  29305 non-null  int64
 14  native.country  29305 non-null  object
 15  income          29305 non-null  object
dtypes: int64(7), object(9)
memory usage: 3.6+ MB

In [12]:
import pandas as pd

# Filtrar solo las columnas que tienen valores NaN
columnas_con_nan = df.isnull().sum()
columnas_con_nan = columnas_con_nan[columnas_con_nan > 0]

# Mostrar el resultado
print(columnas_con_nan)

workclass         1641
occupation        1648
native.country     524
dtype: int64

## Modelo

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np
import pandas as pd

def train_and_evaluate_models(df, target_column, excluded_columns):
    # Eliminar las columnas excluidas y definir X e y
    X = df.drop(columns=excluded_columns)
    y = df[target_column]

    # Dividir el conjunto de datos en entrenamiento y prueba
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Escalar los datos
    scaler = StandardScaler()
    X_train_scaled = scaler.fit_transform(X_train)
    X_test_scaled = scaler.transform(X_test)

    # Convertir a DataFrame para mantener los nombres de columnas
    X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train.columns)
    X_test_scaled = pd.DataFrame(X_test_scaled, columns=X_test.columns)

    # Definir modelos e hiperparámetros
    models = {
        'Random Forest': RandomForestRegressor(random_state=0),
        'XGBRegressor': XGBRegressor(random_state=0)
    }

    param_grid = {
        'Random Forest': {
            'n_estimators': [60, 70, 80],
            'max_depth': [5, 6, 7],
            'min_samples_split': [2, 4],
            'min_samples_leaf': [2, 4],
        },
        'XGBRegressor': {
            'max_depth': [2, 3, 4],
            "learning_rate": [0.01, 0.02],
            "n_estimators": [100, 200],
            "subsample": [0.8],
            "colsample_bytree": [0.8],
            "alpha": [0.1],
            "reg_lambda": [1],
            "gamma": [1],
        }
    }

    # Resultados
    results = []
    
    # Realizar Grid Search para cada modelo
    for name, model in models.items():
        print(f"Training {name}...")
        grid_search = GridSearchCV(model, param_grid[name], cv=5, scoring='r2', n_jobs=-1)
        grid_search.fit(X_train_scaled, y_train)

        # Obtener mejor modelo y parámetros
        best_model = grid_search.best_estimator_
        best_params = grid_search.best_params_
        best_score = grid_search.best_score_

        # Evaluar en conjunto de prueba
        y_pred = best_model.predict(X_test_scaled)
        mse = mean_squared_error(y_test, y_pred)
        rmse = np.sqrt(mse)
        r2 = r2_score(y_test, y_pred)

        # Registrar resultados
        results.append({
            'Model': name,
            'Best Parameters': best_params,
            'Train R² (CV)': best_score,
            'Test MSE': mse,
            'Test RMSE': rmse,
            'Test R²': r2
        })

        print(f"{name} - Best Parameters: {best_params}")
        print(f"{name} - Train R² (CV): {best_score}")
        print(f"{name} - Test R²: {r2}, MSE: {mse}, RMSE: {rmse}")

    # Convertir resultados a DataFrame
    results_df = pd.DataFrame(results)
    return results_df